* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: 0.4s;
}
body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: sans-serif;
  font-size: 2em;
}
:root {
  --blue: rgb(117, 162, 245);
}
header {
  position: sticky;
  top: 0px;
  z-index: 2;
  background: var(--blue);
  box-shadow: 3px 3px 0.5em #ccc;
  width: 100%;
  height: 4em;
}
header label {
  font-weight: bold;
  font-family: 'The Nautigal';
  font-size: 3em;
  color: white;
  float: left;
  position: relative;
  line-height: 1.5em;
  left: 0.2em;
  cursor: pointer;
}
header ul {
  display: block;
  position: relative;
  float: right;
  top: 0.5em;
  height: 3em;
  width: 3.5em;
  right: 0.5em;
  list-style: none;
  cursor: pointer;
}
header ul li {
  position: relative;
  display: block;
  background: white;
  left: 2%;
  width: 96%;
  height: 15%;
  margin-top: 12.5%;
  border-radius: 10px;
  transition: 0.4s;
}
header ul:hover li {
  background: #ccc;
}
header div {
  position: fixed;
  top: 4em;
  height: calc(100vh - 4em);
  background: var(--blue);
  left: 0;
  width: 100vw;
  z-index: 5;
  display: none;
  transition-property: display;
  transition-delay: 0.5s;
}
header div a {
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
  font-size: 2em;
  height: 20%;
  line-height: 4em;
  border-top: solid 1px #ccc;
  margin: 0 2em;
  font-weight: bold;
  cursor: pointer;
}

header ul:focus + div {
  display: block;
}
header ul:focus {
  display: none;
}

article {
  position: relative;
  margin: 20px 10px;
  text-align: justify;
  text-justify: inter-word;
  overflow: hidden;
  font-size: 18px;
  min-height: 70vh;
}
article img {
  position: relative;
  display: block;
  margin: 10px auto;
  min-width: 40%;
  max-width: 60%;
}
article a {
  text-decoration: none;
  border-bottom: dotted 1px var(--blue);
  cursor: pointer;
  color: var(--blue);
}
article h1 {
  font-family: 'The Nautigal';
  font-size: 60px;
  margin: 10px;
}

p {
  border-top: solid 1px #ccc;
  margin: 0px;
  padding: 20px;
  height: 20vh;
  width: 100%;
  display: block;
  position: relative;
  background: white;
  cursor: pointer;
}
p:hover {
  background: #eee;
}
p span {
  display: none;
}
p img {
  height: 90%;
  top: 5%;
  width: auto;
  float: left;
  margin-right: 10px;
  min-width: initial;
}
p label {
  float: right;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  position: relative;
  top: 10%;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  right: 10px;
  width: 70%;
}
p i {
  float: right;
  text-align: center;
  position: relative;
  display: block;
  top: 20%;
  width: 70%;
  margin: auto;
}

footer {
  background: #eee;
  padding: 10px;
  position: relative;
  width: 100%;
  bottom: 0px;
}
footer div {
  position: relative;
  display: block;
  text-align: center;
  width: 50%;
  min-width: 180px;
  margin: 0 auto;
}
footer a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  margin: 0 10px 0 10px;
  border-bottom: dotted 1px black;
}
footer span {
  display: block;
}
footer img {
  display: block;
  margin: 20px auto;
  width: 50px;
  border-radius: 100px;
}
input,
textarea {
  padding: 8px;
  border: none;
  outline: none;
  background: #eee;
  margin-top: 5px;
  border-bottom: solid 2px #eee;
  transition: 0.2s;
  display: block;
}
input:focus,
textarea:focus {
  border-bottom: solid 2px #ccc;
}
textarea {
  width: 80%;
  height: 200px;
  max-width: 100%;
  max-height: 250px;
}
textarea {
  height: 10000vh;
}
button {
  background: var(--blue);
  display: block;
  padding: 8px;
  color: white;
  font-weight: bold;
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  transition: 0.2s;
}
button:hover {
  margin: 3px;
  padding: 10px;
}
input[type='radio'] {
  display: inline-block;
  position: relative;
  margin-right: 10px;
  border: 0px;
  vertical-align: middle;
  visibility: hidden;
  height: 1.5em;
  width: 1.5em;
}
input[type='radio']:after,
input[type='radio']:before {
  content: '';
  position: absolute;
  visibility: visible;
  border: solid 1px var(--blue);
  box-sizing: border-box;
  border-radius: 100px;
  width: 100%;
  height: 100%;
}
input[type='radio']:before {
  transform: scale(0);
  background: var(--blue);
  transition: transform 0.1s;
}
input[type='radio']:checked:before {
  transform: scale(1);
}

@media only screen and (min-aspect-ratio: 5/4) and (min-width: 800px) {
  body {
    font-size: 1em;
  }
  header {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 10px;
    border-radius: 15px;
    top: 10px;
    left: 2%;
    width: 96%;
    height: 80px;
  }
  header ul {
    display: none;
  }
  header div {
    display: block;
    position: relative;
    float: right;
    right: 20px;
    left: auto;
    height: 80%;
    top: 10%;
    width: auto;
    overflow: hidden;
  }
  header div a {
    display: inline-block;
    position: relative;
    border: none;
    height: 100%;
    padding: 0 0.5em;
    font-size: 1.2em;
    line-height: 2.5em;
    margin: 0 0.2em;
  }

  header a:after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    height: 0;
    width: 0;
    background: rgb(0, 0, 0, 0.1);
    transition: 0.1s;
    border-radius: 10px;
  }
  header a:hover:after {
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
  }
  article {
    margin: 20px 10% 0 10%;
    padding: 2%;
  }
  p {
    position: relative;
    display: inline-block;
    border-radius: 15px;
    min-height: 200px;
    text-align: justify;
    text-justify: inter-word;
    overflow: hidden;
    border: solid 1px var(--blue);
    background: var(--blue);
    color: white;
    cursor: pointer;
    margin: 20px;
    padding: 10px;
    width: 40%;
    height: 30vh;
    box-sizing: initial;
    vertical-align: baseline;
    transition: 0.3s;
  }
  p:hover {
    box-shadow: 2px 2px 0.5em #ccc;
    padding: 20px;
    margin: 10px;
    background: var(--blue);
  }
  p * {
    pointer-events: none;
    float: initial;
    position: relative;
    display: block;
  }
  p img {
    border-radius: 10px;
    max-height: 150px;
    height: auto;
    top: 0;
    min-width: 100px;
    width: 30%;
    background: white;
    display: inline-block;
  }
  p label {
    font-weight: bold;
    text-align: center;
    font-size: 1.8em;
    width: 100%;
    top: 0px;
    left: 0px;
    height: auto;
  }
  p span {
    display: inline-block;
    width: 65%;
    height: auto;
    max-height: 60%;
    overflow: hidden;
    top: 1em;
  }
  p i {
    text-align: center;
    width: 60%;
    height: auto;
    position: relative;
  }
}
